* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.row {
  max-width: 114rem;
  margin: 10rem auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    float: left;
    width: calc((100% - 6rem) / 2); }
  .row:not(:last-child) {
    margin-right: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -25vh; }

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.5s; }
  .heading-secondary:hover {
    transform: skewY(-10deg);
    text-shadow: 0 1.5rem 3rem rgba(40, 180, 133, 0.4); }

.heading-tertiary {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem 0;
  opacity: 0.9; }

.text-box {
  font-size: 1.6rem;
  line-height: 3rem;
  opacity: 0.6; }
  .text-box:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-margin-top--big {
  margin-top: -5rem; }

.btn-text {
  transform: all 2s;
  padding: 1rem; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #7ed56f;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #7ed56f; }
  .btn-text:hover {
    transform: translateY(-0.5rem);
    color: white;
    background-color: #7ed56f; }
  .btn-text:active {
    transform: translateY(0); }

.composition {
  position: relative;
  transition: all 5s; }
  .composition__photo {
    width: 55%;
    border-radius: 1px;
    position: absolute;
    transition: all 0.5s; }
    .composition__photo--1 {
      top: -2rem;
      left: 0; }
    .composition__photo--2 {
      right: 0;
      top: 2rem; }
    .composition__photo--3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.2);
      outline: 1rem solid green;
      outline-offset: 1rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.category-card {
  background-image: linear-gradient(to bottom right, rgba(128, 214, 113, 0.5), rgba(39, 180, 133, 0.5)), url(/img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center; }
  .category-card .card {
    width: 22rem;
    height: 30rem;
    border: 2px solid red;
    padding: 1rem;
    text-align: center; }
    .category-card .card .card-icon {
      font-size: 3rem;
      color: green;
      margin: 1rem; }
    .category-card .card .card-title {
      font-size: 1.5rem;
      font-weight: 550; }
    .category-card .card .card-text {
      font-size: 1.2rem; }

.container {
  background-image: linear-gradient(to bottom right, rgba(128, 214, 113, 0.5), rgba(39, 180, 133, 0.5)), url(../img/hero.jpg);
  width: 100%;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  text-align: center;
  position: relative;
  line-height: 4.5rem;
  animation-name: moveBack;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  .container .home-info {
    top: 15rem;
    right: 60rem;
    text-align: center; }
  .container img {
    position: absolute;
    top: 10;
    left: 0;
    width: 6rem;
    height: 4.5rem;
    margin: 2rem;
    padding: 1rem;
    animation-name: moveLogo;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .container .home-info-title {
    letter-spacing: 2rem;
    color: white;
    font-size: 4rem;
    padding-top: 15rem;
    animation-name: moveTitle;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .container .home-info-title {
    letter-spacing: 2rem;
    color: white;
    font-size: 4rem;
    padding-top: 15rem;
    animation-name: moveTitle;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .container .home-info-description {
    top: 20rem;
    left: 50rem;
    color: white;
    font-size: 3rem;
    margin: 2rem;
    animation-name: moveText;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .container .home-btn {
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 4rem;
    display: inline-block;
    position: relative; }
    .container .home-btn::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 4rem;
      display: inline-block;
      background-color: aqua;
      z-index: -1;
      opacity: 1;
      animation-name: btnMem;
      animation-duration: 2s;
      animation-iteration-count: infinite; }

@keyframes btnMem {
  0% {
    opacity: 1;
    transform: scale(0); }
  100% {
    opacity: 0;
    transform: scale(1.5); } }
