* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$pad: 10px 20px;

html {
  font-size: 62.5%;
}

.container {
  background-image: linear-gradient(
      to bottom right,
      rgba(128, 214, 113, 0.5),
      rgba(39, 180, 133, 0.5)
    ),
    url(../img/hero.jpg);
  width: 100%;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  text-align: center;
  position: relative;
  line-height: 4.5rem;

  animation-name: moveBack;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  .home-info {
    top: 15rem;
    right: 60rem;
    text-align: center;
  }

  img {
    position: absolute;
    top: 10;
    left: 0;
    width: 6rem;
    height: 4.5rem;
    margin: 2rem;
    padding: 1rem;

    animation-name: moveLogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .home-info-title {
    letter-spacing: 2rem;
    color: white;
    font-size: 4rem;
    padding-top: 15rem;

    animation-name: moveTitle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .home-info-title {
    letter-spacing: 2rem;
    color: white;
    font-size: 4rem;
    padding-top: 15rem;

    animation-name: moveTitle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .home-info-description {
    top: 20rem;
    left: 50rem;
    color: white;
    font-size: 3rem;
    margin: 2rem;

    animation-name: moveText;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .home-btn {
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 4rem;
    display: inline-block;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 4rem;
      display: inline-block;
      background-color: aqua;
      z-index: -1;
      opacity: 1;

      animation-name: btnMem;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes btnMem {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
//  new section
