.composition {
  position: relative;
  transition: all 5s;

  &__photo {
    width: 55%;

    border-radius: 1px;
    position: absolute;
    transition: all 0.5s;
    &--1 {
      top: -2rem;
      left: 0;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }
    &--3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      z-index: 20;
      transform: scale(1.2);
      outline: 1rem solid green;
      outline-offset: 1rem;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
