.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -25vh;
}

body {
  padding: 1rem;
}

.footer {
  background-color: #333;
  height: 60rem;

  .footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    color: wheat;

    .footer-content-one {
      border-top: 1px solid wheat;
      display: flex;
      justify-content: space-between;

      width: 40%;
      margin-right: 1rem;
      font-size: 1.5rem;
      transition: all 0.4s ease;
      padding: 1rem 0;
      p:hover {
        background-color: #333;
        box-shadow: 0 1.5rem 3rem 0.3rem gray;
        color: #38ba81;
        height: 3rem;

        transform: skewY(5deg) scale(1.1);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .footer-content-two {
      border-top: 1px solid wheat;
      width: 40%;
      padding: 2rem 3rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
